:root {
  --card-bg-color: #ffffff; 
}

#diamond-app .custom-products-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    padding: 20px;
    list-style: none;
  }
  
  #diamond-app .product-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    text-align: center;
    /* background-color: #fff; */
    flex: 0 0 auto;
    width: calc((100% - 250px) / 4);
    background-color: var(--card-bg-color)
}
  
  #diamond-app .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  #diamond-app .product-card h2 {
    font-size: 1.5rem;
    margin: 10px 0;
  }
  
  #diamond-app .product-card p {
    margin: 5px 0;
  }
  
  #diamond-app div#pagination {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
