{{ 'ring_builder.css' | asset_url | stylesheet_tag }}
<section class="rb-section">
		<div class="custome_container">
		 <div class="row desktop">
		 	<div class="step-list-row">
		 		<div class="stp-list">
		 			<span class="step-content">
		 				<span class="step-num">1</span>
		 				<span class="step-title"><a href="index.html">CHOOSE A<br>SETTING </a></span>
		 				<span class="step-ring-img"><img src="https://gemsbridge.com/ring_builder/images/jwel.png"></span>
		 			</span>
		 		</div>
		 		<div class="stp-list">
		 			<span class="step-content">
		 				<span class="step-num">2</span>
		 				<span class="step-title"><a href="diamond.html">CHOOSE A<br><span class="stp-sub-title">DIAMOND</span></a></span>
		 				<span class="step-ring-img"><img src="https://gemsbridge.com/ring_builder/images/ring_part2.png"></span>
		 			</span>
		 		</div>
		 		<div class="stp-list">
		 			<span class="step-content">
		 				<span class="step-num">3</span>
		 				<span class="step-title"><a href="#">REVIEW<br><span class="stp-sub-title">COMPLETE RING</span></a></span>
		 				<span class="step-ring-img"><img src="https://gemsbridge.com/ring_builder/images/ring_part3.png"></span>
		 			</span>
		 		</div>
		 	</div>
		 	<div class="col-sm-12">
		 		<div class="ring-style-list" id="#rings">
		 			<div class="stone-box">
		 				<a href="#" class="a-btn active"><img src="https://gemsbridge.com/ring_builder/images/ring_style-halo.svg"></a>
		 				<p>Halo</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#" class="a-btn"><img src="https://gemsbridge.com/ring_builder/images/ring_style-solitaire.svg"></a>
		 				<p>Solitaire</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#" class="a-btn"><img src="https://gemsbridge.com/ring_builder/images/ring_style-3-stone.svg"></a>
		 				<p>Three Stone</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#" class="a-btn"><img src="https://gemsbridge.com/ring_builder/images/ring_style-single-row1.png"></a>
		 				<p>Channel Set</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#" class="a-btn"><img src="https://gemsbridge.com/ring_builder/images/ring_style-vintage.svg"></a>
		 				<p>Vintage</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#" class="a-btn"><img src="https://gemsbridge.com/ring_builder/images/ring_style-has-matching-band.svg"></a>
		 				<p>Multirow</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#" class="a-btn"><img src="https://gemsbridge.com/ring_builder/images/ring_style-bypass.png"></a>
		 				<p>Bypass</p>
		 			</div>	
		 			<div class="stone-box">
		 				<a href="#" class="a-btn"><img src="https://gemsbridge.com/ring_builder/images/ring_style-pave1.png"></a>
		 				<p>Pave</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#" class="a-btn"><img src="https://gemsbridge.com/ring_builder/images/ring_style-sidestone.svg"></a>
		 				<p>Side Stone</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#" class="a-btn"><img src="https://gemsbridge.com/ring_builder/images/ring_style-other.png"></a>
		 				<p>Others</p>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="col-sm-4">
		 		<div class="builder-shap">
		 		 <div class="shap-list">
		 			<a href="#" class="">
                        <img src="https://gemsbridge.com/ring_builder/images/round.png" alt="round" class="shape-img img-fluid ">
                        <span class="shape-title">Round</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#" class="">
                        <img src="https://gemsbridge.com/ring_builder/images/princess.png" alt="Princess" class="shape-img img-fluid ">
                        <span class="shape-title">Princess</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#" class="">
                        <img src="https://gemsbridge.com/ring_builder/images/cushion.png" alt="Cushion" class="shape-img img-fluid ">
                        <span class="shape-title">Cushion</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#" class="">
                        <img src="https://gemsbridge.com/ring_builder/images/oval.png" alt="oval" class="shape-img img-fluid ">
                        <span class="shape-title">Oval</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#" class="">
                        <img src="https://gemsbridge.com/ring_builder/images/emerald.png" alt="Emerald" class="shape-img img-fluid ">
                        <span class="shape-title">Emerald</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#" class="">
                        <img src="https://gemsbridge.com/ring_builder/images/marquise.png" alt="marquise" class="shape-img img-fluid ">
                        <span class="shape-title">Marquise</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#" class="">
                        <img src="https://gemsbridge.com/ring_builder/images/pear.png" alt="pear" class="shape-img img-fluid ">
                        <span class="shape-title">Pear</span>
                    </a>
                 </div>

		 		</div>
		 	</div>
		 	<div class="col-sm-5">
		 		<div class="fill-color">
		 			<div class="fill-color-list">
		 				<a href="#" class="">
		 					<img src="https://gemsbridge.com/ring_builder/images/white_icons14k.png" class="img-fluid">
		 					<p class="metal_p">White Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#" class="">
		 					<img src="https://gemsbridge.com/ring_builder/images/white_icons18k.png" class="img-fluid">
		 					<p class="metal_p">White Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#" class="">
		 					<img src="https://gemsbridge.com/ring_builder/images/yello_icons14k.png" class="img-fluid">
		 					<p class="metal_p">Yellow Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#" class="">
		 					<img src="https://gemsbridge.com/ring_builder/images/yello_icons18k.png" class="img-fluid">
		 					<p class="metal_p">Yellow Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#" class="">
		 					<img src="https://gemsbridge.com/ring_builder/images/rose_icons14k.png" class="img-fluid">
		 					<p class="metal_p">Rose Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#" class="">
		 					<img src="https://gemsbridge.com/ring_builder/images/rose_icons18k.png" class="img-fluid">
		 					<p class="metal_p">Rose Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#" class="">
		 					<img src="https://gemsbridge.com/ring_builder/images/platinum.png" class="img-fluid">
		 					<p class="metal_p">Platinum</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#" class="">
		 					<img src="https://gemsbridge.com/ring_builder/images/other_me.png" class="img-fluid">
		 					<p class="metal_p">Other</p>
		 				</a>
		 			</div>
		 		</div>
		 	</div>
		 	<div class="col-sm-3">
	
  <label>Price:</label>    
	<div class="price-input">  
	  <div class="filter">
       <div class="slider">
         <div class="progress"></div>
       </div>
       <div class="range-input">
         <input type="range" class="range-min" min="274" max="65234" value="274" step="100">
         <input type="range" class="range-max" min="274" max="65234" value="65234" step="100">
       </div>
       </div>
       <div class="number-group">
       	  <div class="input-number-group">
       	   <span>$</span>
           <input class="input-min" type="number" value="274" min="274" max="65234">
          </div>
           <div class="input-number-group">
           <span>$</span>
           <input class="input-max" type="number" value="65234" min="274" max="65234">
           </div>
       </div>
     </div>
   </div>
		 </div>
<!-- mobile view -->
<div class="row mobile">
	<div class="step-list-row">
		 		<div class="stp-list">
		 			<span class="step-content">
		 				<span class="step-num">1</span>
		 				<span class="step-title"><a href="index.html">CHOOSE A<br>SETTING </a></span>
		 				<span class="step-ring-img"><img src="https://gemsbridge.com/ring_builder/images/jwel.png"></span>
		 			</span>
		 		</div>
		 		<div class="stp-list">
		 			<span class="step-content">
		 				<span class="step-num">2</span>
		 				<span class="step-title"><a href="diamond.html">CHOOSE A<br><span class="stp-sub-title">DIAMOND</span></a></span>
		 				<span class="step-ring-img"><img src="https://gemsbridge.com/ring_builder/images/ring_part2.png"></span>
		 			</span>
		 		</div>
		 		<div class="stp-list">
		 			<span class="step-content">
		 				<span class="step-num">3</span>
		 				<span class="step-title"><a href="#">REVIEW<br><span class="stp-sub-title">COMPLETE RING</span></a></span>
		 				<span class="step-ring-img"><img src="https://gemsbridge.com/ring_builder/images/ring_part3.png"></span>
		 			</span>
		 		</div>
		 	</div>
		 	<div class="row center mt-15">
		 		<div class="shape"><button class="btn" onclick="openshape()">Shape</button></div>
		 		<div class="ring-style">
		 			<button class="btn" onclick="openring()">Ring-style</button>
		 		</div>
		 		<div class="metal">
		 			<button class="btn" onclick="openmetal()">Metal</button>
		 		</div>
		 		<div class="price">
		 			<button class="btn" onclick="openprice()">Price</button>
		 		</div>
		 	</div>
		 	<!-- shape -->

		 	<div id="openshape" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeshape()">× Close</a>
              <span class="head-title">Shape</span>
              <div class="overlay-content builder-shap">
		 		 <div class="shap-list">
		 			<a href="#">
                        <img src="https://gemsbridge.com/ring_builder/images/round.png" alt="round" class="shape-img img-fluid ">
                        <span class="shape-title">Round</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#">
                        <img src="https://gemsbridge.com/ring_builder/images/princess.png" alt="Princess" class="shape-img img-fluid ">
                        <span class="shape-title">Princess</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#">
                        <img src="https://gemsbridge.com/ring_builder/images/cushion.png" alt="Cushion" class="shape-img img-fluid ">
                        <span class="shape-title">Cushion</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#">
                        <img src="https://gemsbridge.com/ring_builder/images/oval.png" alt="oval" class="shape-img img-fluid ">
                        <span class="shape-title">Oval</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#">
                        <img src="https://gemsbridge.com/ring_builder/images/emerald.png" alt="Emerald" class="shape-img img-fluid ">
                        <span class="shape-title">Emerald</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#">
                        <img src="https://gemsbridge.com/ring_builder/images/marquise.png" alt="marquise" class="shape-img img-fluid ">
                        <span class="shape-title">Marquise</span>
                    </a>
                 </div>
                 <div class="shap-list">
		 			<a href="#">
                        <img src="https://gemsbridge.com/ring_builder/images/pear.png" alt="pear" class="shape-img img-fluid ">
                        <span class="shape-title">Pear</span>
                    </a>
                 </div>
              </div>
            </div>
         <!-- ring -->
          <div id="openring" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closering()">× Close</a>
              <span class="head-title"> Ring</span>
              <div class="overlay-content ring-style-list">
		 			<div class="stone-box">
		 				<a href="#"><img src="https://gemsbridge.com/ring_builder/images/ring_style-halo.svg"></a>
		 				<p>Halo</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#"><img src="https://gemsbridge.com/ring_builder/images/ring_style-solitaire.svg"></a>
		 				<p>Solitaire</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#"><img src="https://gemsbridge.com/ring_builder/images/ring_style-3-stone.svg"></a>
		 				<p>Three Stone</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#"><img src="https://gemsbridge.com/ring_builder/images/ring_style-single-row1.png"></a>
		 				<p>Channel Set</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#"><img src="https://gemsbridge.com/ring_builder/images/ring_style-vintage.svg"></a>
		 				<p>Vintage</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#"><img src="https://gemsbridge.com/ring_builder/images/ring_style-has-matching-band.svg"></a>
		 				<p>Multirow</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#"><img src="https://gemsbridge.com/ring_builder/images/ring_style-bypass.png"></a>
		 				<p>Bypass</p>
		 			</div>	
		 			<div class="stone-box">
		 				<a href="#"><img src="https://gemsbridge.com/ring_builder/images/ring_style-pave1.png"></a>
		 				<p>Pave</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#"><img src="https://gemsbridge.com/ring_builder/images/ring_style-sidestone.svg"></a>
		 				<p>Side Stone</p>
		 			</div>
		 			<div class="stone-box">
		 				<a href="#"><img src="https://gemsbridge.com/ring_builder/images/ring_style-other.png"></a>
		 				<p>Others</p>
		 			</div>
              </div>
            </div>
            <!-- Metal type -->
            <div id="openmetal" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closemetal()">× Close</a>

              <div class="overlay-content fill-color">
		 			<div class="fill-color-list">
		 				<a href="#">
		 					<img src="https://gemsbridge.com/ring_builder/images/white_icons14k.png" class="img-fluid">
		 					<p class="metal_p">White Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#">
		 					<img src="https://gemsbridge.com/ring_builder/images/white_icons18k.png" class="img-fluid">
		 					<p class="metal_p">White Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#">
		 					<img src="https://gemsbridge.com/ring_builder/images/yello_icons14k.png" class="img-fluid">
		 					<p class="metal_p">Yellow Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#">
		 					<img src="https://gemsbridge.com/ring_builder/images/yello_icons18k.png" class="img-fluid">
		 					<p class="metal_p">Yellow Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#">
		 					<img src="https://gemsbridge.com/ring_builder/images/rose_icons14k.png" class="img-fluid">
		 					<p class="metal_p">Rose Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#">
		 					<img src="https://gemsbridge.com/ring_builder/images/rose_icons18k.png" class="img-fluid">
		 					<p class="metal_p">Rose Gold</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#">
		 					<img src="https://gemsbridge.com/ring_builder/images/platinum.png" class="img-fluid">
		 					<p class="metal_p">Platinum</p>
		 				</a>
		 			</div>
		 			<div class="fill-color-list">
		 				<a href="#">
		 					<img src="https://gemsbridge.com/ring_builder/images/other_me.png" class="img-fluid">
		 					<p class="metal_p">Other</p>
		 				</a>
		 			</div>
              </div>
               <span class="head-title">Metal</span>
            </div>

        <!-- Price -->
        <div id="openprice" class="overlay">
              <a href="javascript:void(0)" class="closebtn" onclick="closeprice()">× Close</a>
              <div class="overlay-content">
		 		<label>Price:</label>    
	<div class="price-input">  
	  <div class="filter">
       <div class="slider">
         <div class="progress"></div>
       </div>
       <div class="range-input">
         <input type="range" class="range-min" min="274" max="65234" value="274" step="100">
         <input type="range" class="range-max" min="274" max="65234" value="65234" step="100">
       </div>
       </div>
       <div class="number-group">
       	  <div class="input-number-group">
       	   <span>$</span>
           <input class="input-min" type="number" value="274" min="274" max="65234">
          </div>
           <div class="input-number-group">
           <span>$</span>
           <input class="input-max" type="number" value="65234" min="274" max="65234">
           </div>
       </div>
     </div>	
              </div>
            </div>


</div>

<!-- end mobile view -->


		 <div class="row">
		 	<div class="col-sm-12 line-filter">
		 		<div class="filter-btn">
		 			<button type="button" onclick="">
		 			  <i class="fa fa-rotate-left">
		 			  	 Clear Filters
		 			  </i>
		 			</button>
		 		</div>
		 	</div>
		 </div>

		 <div class="row">
		 	<div class="col-sm-12">
		 		<div class="text">
		 			<h1 class="heading">Engagement Rings</h1>
		 			<p class="content">Engagement rings are the ultimate expression of love, which is why their design requires a personal touch. It’s easy to design the engagement ring of your dreams, down to
the last detail. Choose lovingly handcrafted engagement settings in a range of popular styles. Browse loose
diamonds for the perfect center stone to complete your engagement setting. Then, sit back and admire your beautiful creation!</p>
		 		</div>
		 	</div>
		 	<div class="line-wrap">
		 		<div class="col-sm-3">
		 			<div class="filt-res">
		 				<span>Result - 0</span>
		 			</div>
		 		</div>
		 		<div class="col-sm-6 line"></div>
		 		<div class="col-sm-3">
		 			<div class="sort-by">
		 				<span>Sort:-</span>
		 				<div class="select-box">
		 					<select>
		 						<option>Relevance</option>
		 						<option>Price: Low to High</option>
		 						<option>Price: High to low</option>
		 					</select>
		 				</div>
		 			</div>
		 		</div>
		 	</div>
		 </div>

		 <div class="content-tab">
		 	<div class="products">
		 		<div class="product-card">
		 			<div class="product-img">
		 				<a href="">
		 					<img src="https://gemsbridge.com/ring_builder/images/ring.jpg" class="img-fluid">
		 				</a>
		 			</div>
		 			<div class="product-content">
		 				<h3 class="product-title"><a href="#" class="black">14K White Gold 1/4 Cttw Round  Semi-Set Engagement Ring</a></h3>
		 				<div class="product-price"><span class="black">$1,708</span></div>
		 			</div>
		 			<div class="product-wishlist-icn">
                    <a href="#" class="wish_top"><i class="far fa-heart"></i></a>
                  </div>
		 		</div>
		 		
		 	</div>
		 </div>
		</div>
	</section>
<script>
  <script type="">

const rngInput = document.querySelectorAll(".range-input input"),
prcInput = document.querySelectorAll(".number-group input"),
rng = document.querySelector(".slider .progress");
let prcGap = 1000;
prcInput.forEach(input =>{
    input.addEventListener("input", e =>{
        let minPrc = parseInt(prcInput[0].value),
        maxPrc = parseInt(prcInput[1].value);
        
        if((maxPrc - minPrc >= prcGap) && maxPrc <= rngInput[1].max){
            if(e.target.className === "input-min"){
                rangeInput[0].value = minPrc;
                range.style.left = ((minPrc / rngInput[0].max) * 100) + "%";
            }else{
                rangeInput[1].value = maxPrc;
                range.style.right = 100 - (maxPrc / rngInput[1].max) * 100 + "%";
            }
        }
    });
});
rngInput.forEach(input =>{
    input.addEventListener("input", e =>{
        let minValue = parseInt(rngInput[0].value),
        maxValue = parseInt(rngInput[1].value);
        if((maxValue - minValue) < prcGap){
            if(e.target.className === "range-min"){
                rngInput[0].value = maxValue - prcGap
            }else{
                rngInput[1].value = minValue + prcGap;
            }
        }else{
            prcInput[0].value = minValue;
            prcInput[1].value = maxValue;
            rng.style.left = ((minValue / rngInput[0].max) * 100) + "%";
            rng.style.right = 100 - (maxValue / rngInput[1].max) * 100 + "%";
        }
    });
});

// mobile range

const rangeInput = document.querySelectorAll(".overlay-content .range-input input"),
priceInput = document.querySelectorAll(".overlay-content .number-group input"),
range = document.querySelector(".overlay-content .slider .progress");
let priceGap = 1000;
priceInput.forEach(input =>{
    input.addEventListener("input", e =>{
        let minPrice = parseInt(priceInput[0].value),
        maxPrice = parseInt(priceInput[1].value);
        
        if((maxPrice - minPrice >= priceGap) && maxPrice <= rangeInput[1].max){
            if(e.target.className === "input-min"){
                rangeInput[0].value = minPrice;
                range.style.left = ((minPrice / rangeInput[0].max) * 100) + "%";
            }else{
                rangeInput[1].value = maxPrice;
                range.style.right = 100 - (maxPrice / rangeInput[1].max) * 100 + "%";
            }
        }
    });
});
rangeInput.forEach(input =>{
    input.addEventListener("input", e =>{
        let minVal = parseInt(rangeInput[0].value),
        maxVal = parseInt(rangeInput[1].value);
        if((maxVal - minVal) < priceGap){
            if(e.target.className === "range-min"){
                rangeInput[0].value = maxVal - priceGap
            }else{
                rangeInput[1].value = minVal + priceGap;
            }
        }else{
            priceInput[0].value = minVal;
            priceInput[1].value = maxVal;
            range.style.left = ((minVal / rangeInput[0].max) * 100) + "%";
            range.style.right = 100 - (maxVal / rangeInput[1].max) * 100 + "%";
        }
    });
});
</script>
</script>
{% schema %}
  {
    "name": "choose setting",
    "settings": [],
      "presets": [
    {
      "name": "choose setting"
    }
  ] 
  }
{% endschema %}